@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(3, 3, 3);
  font-family: 'arichivo narrow';
  color: rgb(230,
      223,
      223);

  .not-found {
    width: 100%;
    height: 100vh;
    color: black;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;

    h3 {
      text-align: center;
      padding: 10px 0;
    }

    p {
      font-size: 1rem;
      padding: 5px 0;
    }

    button {
      display: block;
      padding: 7px 10px;
      margin: 0 auto;
      margin-top: 10px;
      color: orangered;
      font-weight: 500;

    }
  }

  header {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    text-align: center;


    .header-content {
      h1 {
        color: rgb(235, 226, 217);
        padding: 5px 0;
        font-family: 'Kaushan Script', cursive;
        font-weight: 700;
        font-size: 2.5rem;


        @media screen and (max-width : 750px) {
          font-size: 1.8rem;
        }
      }

      input {
        width: 250px;
        padding: 15px 20px;
        border-radius: 10px;
        outline: none;
        border: 2px solid rgb(112,
            98,
            96);
        transition: 0.5s ease-in-out;

        &:focus {
          border: 3px solid rgba(188, 143, 143, 0.842);
        }
      }
    }
  }

  main {
    width: 100%;

    .meals-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

@import "./card.scss"